.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(252, 218, 109);
    /* border: 30px solid rgb(255, 0, 0); */
    /* background-color: lightblue; */
    /* background-color: #ffffff; */
    background-image: url("https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2F2d629284-8a24-11ea-8030-261bf7d8ac38.jpg?crop=4963%2C2792%2C294%2C628");
    background-repeat: no-repeat;
    background-position: right top;
    

}
.list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto; 
    height:auto;
    align-items:left ;
    margin: 10px;
    border: 4px solid rgb(20, 14, 14);
    padding: 2rem;
    border-radius: 5px;
    background-color: rgba(170, 139, 111, 0.521);
}
.list > div{
    margin: 5px 0px;
}
.products{
    min-height: 50vh;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(252, 218, 109); */

}

.content {
    min-width: 25vw;
}

.gridContainer {
    display: grid;
    grid-template-columns: 100px auto;
    margin-bottom: 16px;
}

.gridContainer>div {
    /* background-color:rgb(6, 14, 9); */
    text-align: left;
    padding: 10px 0;
    font-size: 1.2rem;
}

.gridContainer>div>input {
    width: 100%;
    padding: 2px 2px;
    margin: 0px 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}
.btucopy {
    background-color: brown;
    color: aliceblue;
}
.btulogin {
    background-color:blue;
    color: aliceblue;
}
.bturegister {
    background-color:green;
    color: aliceblue;
}
.text{
    color: blue;
}
.btn{
    background-color: green;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn {
      background-color: green;
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid green;
  }
  .btn:hover{
      background-color: rgb(15, 177, 15);
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(15, 177, 15);
  }
  .btn1{
    background-color: brown;
    border-radius: 10%;
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn1 {
      background-color: brown;
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid brown;
  }
  .btn1:hover{
      background-color: red;
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid red;
  }
  .btn2{
    background-color: rgb(33, 200, 133);
    border-radius: 10%;
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn2 {
      background-color: rgb(202, 73, 73);
      color: whitesmoke;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(140, 233, 34);
  }
  .btn2:hover{
      background-color: rgb(10, 152, 192);
      color: #fff;
      font-size: 1rem;
      margin-top: 10px;
      border: 2px solid rgb(10, 152, 192);
  }